 @import "main.css";

.projectOutline{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    min-height: 355px;
    width: 100%;
    overflow: hidden;
    background-color: var(--mainBackground);
    border: 3px solid var(--mainGreen);
}

.projectPicture{
    width: 100%;
    height: 235px;
}

.projectText{
    color: var(--mainGreen);
    font-family: var(--mainFontFamily);
    font-weight: 700;
    font-size: 25px;
    margin: 10px;
}
.projectCardContainer{
    width: 455px;
}

.projectDescription{
    width: 95%;
    margin: 10px;
    font-family: var(--mainFontFamily);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: var(--UiGray);
}

.projectCardBottomRow{
    flex-direction: row;
    display: flex;
}

.topicTag{
    width: 50px;
    height: 17px;
    font-family: var(--mainFontFamily);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    background: var(--secondaryGreen);
    border-radius: 8px;
    color: var(--mainBackground);
    margin-left: 10px;
    margin-top: 10px;
    padding: 4px;
    text-align: center;
}

.date {
    font-family: var(--mainFontFamily);
    font-style: normal;
    font-weight: var(--mainFontWeight);
    font-size: 15px;
    color: var(--UiGray);
    width: 80px;
    height: 18px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.alignRight{
    margin-left: auto;
}