.professorCardOutline{
    background: var(--secondaryGreen);
    border-radius: 25px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.professorCardImage{
    margin: 8%;
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
}

.professorCardName{
    font-weight: 700;
    font-size: 20px;
}

.professorCardProfessionalTitle{
    font-size: 15px;
}

.professorCardInstitute{
    font-size: 18px;
    margin-bottom: 5%;
}

.professorCardEmailPhone{
    font-size: 15px;
    display: inline-block ; /* flex*/
    flex-direction: column;
}


.rowFlex{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.marginLeft{
    margin-left: 10px;
}

.professorCardIcons{
    color: var(--mainGreen);
}