@import "main.css";
#error{
    background-color: rgba(159, 196, 163,0);
    top: 25%;
    left: 10%;
    right: 10%;
    position: absolute;
}

.ErrorWrapper {
    background-image: url("../images/light.png") ;
    background-position:  right  65%;
    background-repeat: no-repeat;
    background-size: 30%;
    background-attachment: fixed;
}
.Footer{
    position: fixed;
    left: 0;
    bottom: 0;
}


