.wrapper {
    padding: 2rem 3rem;
  }
  
.label {
      font-size: 1rem;
      font-weight: 500;
  }

  .editor {
    margin-top: 1rem;
    height: 500px;
  }

  .ql-size {
    width: 80px; /* Adjust the width as needed */
  }
  
  /* Define your custom font size options */
  .ql-size .ql-picker-label[data-value="10"]::before {
    content: 'Small';
    font-size: 10px; /* Adjust the font size as needed */
  }
  
  .ql-size .ql-picker-label[data-value="11"]::before {
    content: 'Normal';
    font-size: 16px; /* Adjust the font size as needed */
  }
  .ql-size .ql-picker-label[data-value="12"]::before {
    content: 'Normal';
    font-size: 16px; /* Adjust the font size as needed */
  }
  .ql-size .ql-picker-label[data-value="13"]::before {
    content: 'Normal';
    font-size: 16px; /* Adjust the font size as needed */
  }
  .ql-size .ql-picker-label[data-value="14"]::before {
    content: 'Normal';
    font-size: 16px; /* Adjust the font size as needed */
  }
  .ql-size .ql-picker-label[data-value="15"]::before {
    content: 'Normal';
    font-size: 16px; /* Adjust the font size as needed */
  }
  .ql-size .ql-picker-label[data-value="16"]::before {
    content: 'Normal';
    font-size: 16px; /* Adjust the font size as needed */
  }
  .ql-size .ql-picker-label[data-value="17"]::before {
    content: 'Normal';
    font-size: 16px; /* Adjust the font size as needed */
  }
  .ql-size .ql-picker-label[data-value="18"]::before {
    content: 'Normal';
    font-size: 16px; /* Adjust the font size as needed */
  }
  .ql-size .ql-picker-label[data-value="19"]::before {
    content: 'Normal';
    font-size: 16px; /* Adjust the font size as needed */
  }
  .ql-size .ql-picker-label[data-value="20"]::before {
    content: 'Normal';
    font-size: 16px; /* Adjust the font size as needed */
  }
 