@import '../../mainStyles/mainStyles.css';
body .app-bar {
  width: 100%;
  background-color: var(--navbarColor);
}

.css-1t6c9ts {
  background-color: var(--navbarColor);
}
.css-19r6kue-MuiContainer-root {
  background-color: var(--navbarColor);
}

.css-ts8wrq-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
}
.css-1oo93zi-MuiPaper-root-MuiAppBar-root {
  background-color: var(--navbarColor);
}
.bold {
  font-weight: 700 !important;
  font-family: var(--mainFontFamily), serif !important;
  text-transform: none !important;
}

.notBold {
  font-weight: 400 !important;
  font-family: var(--mainFontFamily), serif !important;
  text-transform: none !important;
}
