body{
    margin: 0%;
}

.wholesignup{
margin-top: 0%;
}


.imgLogo{
position: absolute;
bottom: 10%;
margin: auto;
}
.imgHands{

}

.signupText{
color: #3D7844;
font-size: 4ch;
font-weight: bolder;
align-items: center;
margin-left: 15%;
margin-top: 10%;
}
.signupText>p{
    margin: 0;
}
.imagesignup{
margin: 0%;
position: absolute;
left: 0%;
right: 57%;
top: 0%;
bottom: 0%;
background: #E0EADF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.signupPart{
    margin-left: 40%;
}






