@import "../../styles/main.css";

.user{
    background-color: var(--mainBackground);
    margin: 0 15%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--mainFontFamily);
    color: var(--TypoBlack);
    
}

h1{
    font-family: var(--mainFontFamily);
    color: var(--TypoBlack);
    
}

.top-part{
    border-radius: 10%;
    background-color: var(--mainBackground);
}

.username{
    border-radius: 10%;
    text-align: center;
    padding:2% 0 0 0;
}

.avatar{
    padding: 0 0;
    display:block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#btnSend{
    background-color: var(--mainBackground);
    padding: 1%;
    margin: 3%;
    height: 3%;
    color: black; /**/

}
#btnLogOut{
    background-color: var(--mainBackground);
    margin: 3%;
    color: var(--TypoBlack);
}

.profileIcon{
    margin: auto;
    display: grid;
	place-items: center;
    justify-content: center;
    align-items: center;
}
.buttonsIcon {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}