.homeOutline {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.rowHome {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .rowHome {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .homeOutline {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1200px) {
  .homeOutline {
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media screen and (min-width: 850px) and (max-width: 1100px) {
  .homeOutline {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media screen and (min-width: 750px) and (max-width: 850px) {
  .homeOutline {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 450px) and (max-width: 600px) {
  .homeOutline {
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media screen and (min-width: 600px) and (max-width: 750px) {
  .homeOutline {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media screen and (max-width: 500px) {
  .homeOutline {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* For Tablets */
@media screen and (max-width: 750px) {
  .rowHome {
    grid-template-columns: 1fr;
  }
}

.homeBackground {
  background-color: #fff;
}

.homeTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 4em;
  text-align: center;
  color: #3d7844;
  margin-bottom: 5%;
}
